<library path="lib/libgrabe_mapping_test_plugin"> <!--Name of library in make file-->
  <class name="GrabeMapping" type="grabe_mapping::GuiPlugin" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      GUI Plugin for Mapping Tool
    </description>
    <qtgui>
      <label>Grabe Mapping Plugin</label> <!-- this shows up as label in the default rqt plugin window -->
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>